.manage-flow {
    .flow-name {
        color: #868dff;
    }
    .flow-logs {
        color: #fad05f;
    }
    .table-cancel {
        color: #ff7d75;
    }
}

.flow-history {
    .flow-history-count {
        color: #868dff;
    }
    .flow-history-user-sid {
        color: #fad05f;
        letter-spacing: 1px;
    }
    .table-cancel {
        color: #ff7d75;
    }
}